.header {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 99px;
    padding-right: 99px;
    z-index: 1;

    img {
        width: 80px;
        height: 80px;
        z-index: 1;
    }
}

.links a {
    padding-left: 20px;
    color: #5988FF;
    font-size: 23px;
    text-decoration: none;
    font-family: 'Montserrat';
}