<div [class.darkHeader]="darkMode" class="header">

    <img routerLink="/" class="logo" src="./assets/img/logo.png">

    <div [class.darkLinks]="darkMode" #headerLinks class="links">
        <a translate href="#aboutme">About me</a>
        <a translate href="#skillset">Skillset</a>
        <a translate href="#mywork">My Work</a>
        <a translate href="#contact">Get in touch</a>
        <img class="language-switch" *ngIf='!app.language' src="./assets/img/english.png" (click)="changeLanguage()">
        <img class="language-switch" *ngIf='app.language' src="./assets/img/german.png" (click)="changeLanguage()">

    </div>

    <button id="burgerMenu" class="burger-menu">
        <img *ngIf="!blueLogo" src="./assets/img/burger_menu.png">
        <img *ngIf="blueLogo" class="blueLogo" src="./assets/img/burger_menu_black.png">
    </button>

</div>

<nav id="navbar" class="mobile-navbar">

    <div class="mobile-header">
        <img class="logo-mobile rotate-in-center" src="./assets/img/logo-blue.png">

        <button id="burgerMenuMobile" class="burger-menu-mobile">
            <img src="./assets/img/burger_menu.png">
        </button>
    </div>

    <ul class="mobile-navlist">
        <li><a translate href="#aboutme">About me</a></li>
        <li><a translate href="#skillset">Skillset</a></li>
        <li><a translate href="#mywork">My Work</a></li>
        <li><a translate href="#contact">Contact</a></li>
        <li>
            <img class="language-switch" *ngIf='!app.language' src="./assets/img/english.png" (click)="changeLanguage()">
            <img class="language-switch" *ngIf='app.language' src="./assets/img/german.png" (click)="changeLanguage()">
        </li>
    </ul>
    
</nav>