<div [class.darkHeader]="darkMode" class="header">

    <img class="logo rotate-in-center" src="../../assets/img/logo.png">

    <div [class.darkLinks]="darkMode" #headerLinks class="links">
        <a href="/">About me</a>
        <a href="#skillset">Skillset</a>
        <a href="#mywork">My Work</a>
        <a href="#contact">Get in touch</a>
    </div>

    <button id="burgerMenu" class="burger-menu">
        <img src="./../../assets/img/burger_menu.png">
    </button>

</div>



<nav id="navbar" class="mobile-navbar">

    <div class="mobile-header">
        <img class="logo-mobile rotate-in-center" src="../../assets/img/logo-blue.png">

        <button id="burgerMenuMobile" class="burger-menu-mobile">
            <img src="./../../assets/img/burger_menu.png">
        </button>
    </div>

    <ul class="mobile-navlist">
        <li><a href="#aboutme">About me</a></li>
        <li><a href="#skillset">Skillset</a></li>
        <li><a href="#mywork">My Work</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>