<div class="header">
    <img class="logo rotate-in-center" src="../../assets/img/logo.png">

    <div #headerLinks class="links">
        <a href="#aboutme">About me</a>
        <a href="#skillset">Skillset</a>
        <a href="#mywork">My Work</a>
        <a href="#contact">Get in touch</a>
    </div>

</div>

<button id="burgerMenu" class="burger-menu">
    <img src="./../../assets/img/burger_menu.png"> 
</button>

<nav id="navbar" class="mobile-navbar">
    <ul class="mobile-navlist">
        <li><a href="#aboutme">About me</a></li>
        <li><a href="#skillset">Skillset</a></li>
        <li><a href="#mywork">My Work</a></li>
        <li><a href="#contact">Get in touch</a></li>
    </ul>
</nav>