.header {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 99px;
    padding-right: 99px;
    z-index: 1;

    img {
        width: 70px;
        height: 70px;
        z-index: 1;
        filter: invert(1);
    }
}

.links {
    display: flex;
    align-items: center;

    a {
        padding-left: 30px;
        color: #5988FF;
        font-size: 23px;
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: 400;

        &:hover {
            font-weight: bolder;
            transform: scale(1.1);
        }
    }
}