<div class="footer-body">
    <div class="footer-logo">
        <img src="./../../assets/img/logo.png">
    </div>
    
    <div class="footer-copyright">
        <span> © Felix Röder 2023</span>
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection">Data protection</a>
    </div>

    <div class="social-links">

        <a href="https:github.com/Fel1xR0eder">
            <img src="./../../assets/img/git-white.png">
        </a>

        <a href="#contact">
            <img src="./../../assets/img/mail-white.png">
        </a>

        <a href="https://www.linkedin.com/in/felix-r%C3%B6der-2a9371274">
            <img src="./../../assets/img/linked-white.png">
        </a>
    </div>
</div>