<div id="mywork" class="my-work-body">
    <span class="head-span">My work</span>
    <img class="work-ellipse-1" src="./../../assets/img/work-ellipse-1.png">
    <p>This is a sample of my work - please feel free to try them out.</p>

    <img class="work-ellipse-2" src="./../../assets/img/work-ellipse-2.png">
    <img class="work-ellipse-3" src="./../../assets/img/work-ellipse-3.png">

    <div class="all-projects">
        <div class="project" *ngFor="let project of projects">
            <img class="project-img" [src]="project.img">

            <div class="project-specs">
                <span class="project-span"> {{ project.name}}</span>
                <span class="project-lang"> {{project.language}} </span>
                <span class="project-description"> {{ project.spec }} </span>
                <div class="link-container">
                    <a target="_blank" [href]="project.link"><button class="github">Github</button></a>
                    <a target="_blank" [href]="project.test"><button class="github">Test</button></a>
                </div>
            </div>
        </div>
    </div>

    <img class="work-ellipse-4" src="./../../assets/img/work-ellipse-4.png">
    <img class="work-ellipse-5" src="./../../assets/img/work-ellipse-5.png">
    <img class="work-ellipse-6" src="./../../assets/img/work-ellipse-6.png">
    
</div>