<div id="contact" class="contact-body">

    <div style="display:none;" ngNativeValidate #loadingContainer class="loader">
        <svg class="spinner" width="200px" height="200px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>

    <div style="display: none;" ngNativeValidate #mailFeedbackPopup class="popup opacity">
        <span translate>Thank you for your Mail! </span> <br>
        <span translate> I'll response as soon as possible.</span>
    </div>

    <img class="work-ellipse-7" src="./assets/img/work-ellipse-7.png">
    <img class="work-ellipse-8" src="./assets/img/work-ellipse-8.png">

    <div ngNativeValidate #contact class="contact-me">
        <div class="contact-me-text">

            <span translate class="head-span">Contact</span>
            <span translate class="subhead-span">Got a problem to solve?</span>
            <span translate class="contact-me-span">
                Contact me through this form. 
                I am interested in hearing you, knowing your ideas, and contributing to
                your projects with my work.
            </span>

            <span translate class="need-me-span">Need a Frontend developer?
                <span translate class="fat-span blink-2"> Contact me! </span>
            </span>
        </div>

        <form (submit)="sendMail()" ngNativeValidate #myForm class="contact-form">
            <input id="name" name="name" class="input-name" translate required placeholder="Your name" type="text" #nameField>
            <input class="input-mail" name="message" required placeholder="Your mail" type="email" #mailField>
            <textarea required placeholder="Your message" cols="20" rows="10" #messageField></textarea>
            <button translate #sendButton>Say hi!</button>
        </form>
    </div>

    <img class="work-ellipse-9" src="./assets/img/work-ellipse-9.png">
    <img class="work-ellipse-10" src="./assets/img/work-ellipse-5.png">
    <div class="up-button" (mouseenter)="changeImage= true" (mouseleave)="changeImage= false">
        <a href="#welcome"><img *ngIf="changeImage" src="./assets/img/up-button-hover.png"></a>
        <a href=""><img *ngIf="!changeImage" src="./assets/img/up-button.png"></a>
    </div>
</div>