<div class="welcome-body">
    <img class="header-ellipse" src="./../../assets/img/header-ellipse.png">

    <img class="myself" src="./../../assets/img/myself.png">

    <div class="introduce">
        <span class="name-text">Hello! I am Felix</span>
        <span class="dev-text">FRONTEND DEVELOPER</span> <!--wenn Bewerbung als IT-Securtiy, span ändern? -->
    </div>

    <div class="scroll">
        <span class="blink-2">SCROLL</span>
        <img src="./../../assets/img/scroll-line.png">
    </div>

    <img class="half-ellipse" src="./../../assets/img/half-header-ellipse.png">
    <img class="ellipse" src="./../../assets/img/work-ellipse-5.png">

    <div class="socials-top">
        <a href="https:github.com/Fel1xR0eder"><img src="./../../assets/img/github.png"></a>
        <a routerlink="contact"><img src="./../../assets/img/mail.png"></a>
        <a href="https://www.linkedin.com/in/felix-r%C3%B6der-2a9371274"><img src="./../../assets/img/linked.png"></a>
    </div>

</div>