.imprint {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    
    a {
        color: #000000;
        word-break: break-all;
    }

    p {
        word-break: break-all;
    }
}

@media (max-width: 500px) {
    .imprint {
        margin-left: 20px;
        margin-right: 20px;
    }
}