@font-face {
    font-family: montserrat;
    src: url('./assets/font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: baloo;
    src: url('./assets/font/Baloo-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    max-width: 100%;
}