@font-face {
    font-family: montserrat;
    src: url('./assets/font/Montserrat-Regular.ttf');
}


@font-face {
    font-family: baloo;
    src: url('./assets/font/Baloo-Regular.ttf');
}


html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 500ms all ease;
}


.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@keyframes popup-animation {
    
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    // width: 7px;
    display: none;
}


::-webkit-scrollbar-thumb {
    background: #5988ff;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #5988ff;
}