<div id="aboutme" class="work-body reveal">
    <div class="work">
        <span translate class="work-caption">Let's work together</span>

        <div class="work-right">

            <span translate class="work-text">
                I am a Front-end developer based near Leipzig, Germany. I enjoy helping designers
                and companies bring their ideas into real life.
                I am looking forward to starting my developer career with a job in a junior web developer
                position.
            </span>
            <span translate class="work-text"> If you think I'd be a good match for your projects, contact me!</span>
            <a href="javascript:document.getElementById('name').focus()"><button translate class="message-button">Send a message</button></a>
        </div>
    </div>
    <img class="ellipse" src="./assets/img/lets-work-ellipse.png">
</div>