<div id="aboutme" class="work-body reveal">
    <div class="work">
        <span translate class="work-caption">Let's work together</span>

        <div class="work-right">

            <span translate class="work-text">
                As an front-end developer with a passion for IT security, I am currently enhancing my qualifications through intensive training in ethical hacking. This enhancement of my skills enables me to not only design aesthetically pleasing user interfaces, but also to proactively identify and fix security vulnerabilities. My unique expertise combines front-end excellence with in-depth security awareness, making me a valuable addition to your team.
            </span>
            <a href="javascript:document.getElementById('name').focus()"><button [ngClass]="{'github': !isSafari, 'github-no-safari': isSafari}" translate class="message-button">Send a message</button></a>
        </div>
    </div>
    <img class="ellipse" src="./assets/img/lets-work-ellipse.png">
</div>