.work-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 185px;
    padding-bottom: 185px;
}

.work-caption {
    width: 600px;
    height: 242px;
    font-size: 121px;
    font-weight: 600;
    font-family: 'baloo';
    line-height: 120%;
    color: #5988FF;

}

.work-text {
    width: 570px;
    height: 242px;
    font-size: 23px;
    font-family: 'montserrat';
    text-align: center;
    padding-right: 99px;
}

.ellipse {
    position: absolute;
    top: 1430px;
    right: 30%;
    left: 70%;
}

.message-button {
    position: absolute;
    width: 254px;
    height: 58px;
    left: 66%;
    right: 33%;
    top: 1845px;
    border: 2px solid #5988FF;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    color: #5988FF;
    font-size: 23px;
    font-family: 'montserrat';
    cursor: pointer;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
}